body{
    background-color: #151414;
    font-family: 'Readex Pro', sans-serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.4rem;
    scroll-behavior: smooth;
}

.header{
    justify-content: space-between;
    display: flex;
}

.logo{
    text-decoration: none;
    color: #EFF2F5;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.01em;
}

a{
    text-decoration: none;
    cursor: pointer;
}
.leftNav{
    top: 0%;
    justify-items: auto;
    margin-top: -.8rem;
}

.rightNav{
    margin-top: 2px;
    display: flex;
}

.socialsClass{
   margin-right: 2rem;
   margin-top: 1rem;
}

.socialIcon{
    margin-left: .9rem;
    cursor: pointer;
    width: 22px;
    height: 22px;
}
.headerCta{
    background-color: transparent;
    border: .13rem solid #EFF2F5;
    border-radius: 14px;
    color: #EFF2F5;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 500;
    font-family: 'Readex Pro',sans-serif;
    padding: .9rem 1.5rem;

}
.headerCta:hover{
    background-color: #EFF2F5;
    border-radius: 14px;
    color: #0D0F13;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 500;
    font-family: 'Readex Pro',sans-serif;
    padding: .9rem 1.5rem;
    transition: 250ms;

}

.heroSection{
    margin-top: 7rem;
    display: flex;
 
}


.heroLeft{
  
}
.heroRight{
    float: right;
   right: 0%;
   margin-left: auto;
   position: static;

}
.heroImage{
    width: 28rem;
    height: 28rem;
    margin-left: auto;
    float: right;
 

}

.heroHeadText{
    color: #EFF2F5;
    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: left;
    font-size: 3em;
    position: relative;
    margin-top: .7em;
    line-height: 132%;
    margin-right: 120px;
}

.heroHeadSpan{
    color: #f2e125;
    cursor: pointer;
}
.heroHeadSpan:hover{
    color: #f4e970;
    transition: 200ms;
}

.heroSubText{
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    color: #7F8283;
    left: 0%;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    margin-right: 220px;
    margin-top: -1rem;
}
.mintCta{
    background-color: #EFF2F5;
    border-radius: 14px;
    border: transparent;
    color: #0D0F13;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: 'Readex Pro',sans-serif;
    padding: 1rem 1.8rem;
    margin-top: 1.2rem;
    left: 0%;
}

.mintCta:hover{
    background-color: transparent;
    color: #EFF2F5;
    border: .13rem solid #EFF2F5;
    transition: 250ms;
 
}

.mintPriceText{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #EFF2F5;
    left: 0%;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    margin-right: 20px;
    
}

.mintPriceSpan{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #f2e125;
    left: 0%;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    margin-right: 20px;
    
}

.mintLeftText{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #EFF2F5;
    left: 0%;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    margin-right: 20px;
    
}

.mintLeftSpan{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #f2e125;
    left: 0%;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    margin-right: 20px;
    
}

@media screen and (min-width: 1760px) and (max-width: 2080px) {
    body{
        margin-left: 12rem;
        margin-right: 12rem;
        margin-top: 1.6rem;

    }

    .heroSection{
        margin-top: 11rem;
    }
    .heroHeadText{
        font-size: 3.4em;
    }

    .heroSubText{
        font-size: 1.2em;
        margin-right: 300px;
    }

    .mintPriceSpan{
        font-size: 1.2em;
    }

    .mintPriceText{
        font-size: 1.3em;
    }
    .mintLeftSpan{
        font-size: 1.2em;
    }

    .mintLeftText{
        font-size: 1.3em;
    }

    .headerCta{
        font-size: 1.1rem;
    }
    .headerCta:hover{
        font-size: 1.1rem;
    }
    .mintCta{
        font-size: 1.1rem;
    }
    .mintCta:hover{
        font-size: 1.1rem;
    }
    

    .heroImage{
        width: 32rem;
        height: 32rem;
    }
}

@media screen and (min-width: 1520px) and (max-width: 1759px) {
    body{
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top: 1.5rem;

    }

    .heroSection{
        margin-top: 9rem;
    }
    .heroHeadText{
        font-size: 3em; 
    }

    .heroSubText{
        font-size: 1.1em;
    }

    .mintPriceSpan{
        font-size: 1.2em;
    }

    .mintPriceText{
        font-size: 1.2em;
    }
    .mintLeftSpan{
        font-size: 1.2em;
    }

    .mintLeftText{
        font-size: 1.2em;
    }

    .headerCta{
        font-size: 1rem;
    }
    .headerCta:hover{
        font-size: 1rem;
    }
    .mintCta{
        font-size: 1rem;
    }
    .mintCta:hover{
        font-size: 1rem;
    }
    

    .heroImage{
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (min-width:360px) and (max-width: 440px) {
    body{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .logo{
        font-size: .9em;
    }

    .headerCta{
        display: none;
    }

    .socialsClass{
        margin-right: 0%;
        margin-top: .8rem;
    }

    .socialIcon{
        width: 20px;
        height: 20px;
    }

    .heroSection{
        margin-top: 6em;
        display: block;
        margin-bottom: 5rem;
    }

    .heroSubText{
        margin-right: 0%;
        line-height: 150%;
        font-size: .9em;
    }
    .heroHeadText{
        font-size: 2.4em;
        margin-right: 0%;
    }

    .heroRight{
        display: none;
    }


    .mintLeftText{
        font-size: 1em;
    }

    .mintPriceText{
        font-size: 1em;
    }
    
    .mintLeftSpan{
        font-size: 1em;
    }
    
    .mintPriceSpan{
        font-size: 1em;
    }
}

@media screen and (min-width:441px) and (max-width: 520px) {
    body{
        margin-left: 2.4rem;
        margin-right: 2.4rem;
    }

    .logo{
        font-size: .9em;
    }

    .headerCta{
        display: none;
    }

    .socialsClass{
        margin-right: 0%;
        margin-top: .8rem;
    }

    .socialIcon{
        width: 20px;
        height: 20px;
    }

    .heroSection{
        margin-top: 7em;
        display: block;
        margin-bottom: 5rem;
    }

    .heroSubText{
        margin-right: 0%;
        line-height: 150%;
        font-size: 1em;
        margin-top: -.6rem;
    }
    .heroHeadText{
        font-size: 2.4em;
        margin-right: 10px;
    }

    .heroRight{
        display: none;
    }


    .mintLeftText{
        font-size: 1.1em;
    }

    .mintPriceText{
        font-size:  1.1em;
        margin-top: 1.4rem;
    }
    
    .mintLeftSpan{
        font-size:  1.1em;
    }
    
    .mintPriceSpan{
        font-size: 1.1em;
    }
}

@media screen and (min-width:521px) and (max-width: 680px) {
    body{
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .logo{
        font-size: .9em;
    }

    .headerCta{
        display: none;
    }

    .socialsClass{
        margin-right: 0%;
        margin-top: .6rem;
    }

    .socialIcon{
        width: 20px;
        height: 20px;
    }

    .heroSection{
        margin-top: 7em;
        display: block;
        margin-bottom: 5rem;
    }

    .heroSubText{
        margin-right: 0%;
        line-height: 150%;
        font-size: 1em;
        margin-top: -.6rem;
    }
    .heroHeadText{
        font-size: 2.4em;
        margin-right: 10px;
    }

    .heroRight{
        display: none;
    }


    .mintLeftText{
        font-size: 1.1em;
    }

    .mintPriceText{
        font-size:  1.1em;
        margin-top: 1.4rem;
    }
    
    .mintLeftSpan{
        font-size:  1.1em;
    }
    
    .mintPriceSpan{
        font-size: 1.1em;
    }
}

@media screen and (min-width:681px) and (max-width: 820px) {
    body{
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .logo{
        font-size: .9em;
     
    }

    .leftNav{
        margin-top: -.5rem;
    }

    .socialsClass{

        margin-top: .9rem;
    }

    .socialIcon{
        width: 20px;
        height: 20px;
    }

    .heroRight{
        float: left;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    
    .heroImage{
        width: 36rem;
        height: 36rem;
    }
    .heroSection{
        margin-top: 8em;
        display: block;
        margin-bottom: 5rem;
    }

    .heroSubText{
        margin-right: 0%;
        line-height: 150%;
        font-size: 1em;
        margin-top: -.6rem;
    }
    .heroHeadText{
        font-size: 2.4em;
        margin-right: 10px;
    }



    .mintLeftText{
        font-size: 1.1em;
    }

    .mintPriceText{
        font-size:  1.1em;
        margin-top: 1.4rem;
    }
    
    .mintLeftSpan{
        font-size:  1.1em;
    }
    
    .mintPriceSpan{
        font-size: 1.1em;
    }
}